.auth-icon {
    color: #424242;
    font-size: 7.0em
}

.main-content {
    background-color: lighten(orange, 10%);
}

.item-icon {
    color:#424242;
}
    
.button-bg{
    background-color: #424242;
}

.button-no-bg{
    color: #424242;
}

.scroll-bar-indicator
{
	display: none;
}

ion-header {
    font-family: 'JosefinSansRegular';
    .toolbar-background {
    background-color: lighten(orange, 10%);
    }
}

ion-navbar {
    font-family: 'JosefinSansRegular';
    font-weight: bold;
}

ion-content {
    -webkit-overflow-scrolling: false
}

polaroid-pet .card-title-row {
    font-family: 'Handwriting';
    font-weight: bold;
    font-size: 35px;
}

//p {
//    font-family: 'JosefinSansRegular';
//}

ion-label {
   font-family: 'JosefinSansRegular'
}

@font-face {
    font-family: 'Handwriting';
    src: url('../assets/font/Handwriting.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSansRegular';
    src: url('../assets/font/Josefin-Sans/JosefinSansRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

agm-map {
    height: 300px;
}


